body{
    background-color: #b5002d;
    margin: 0px;
}

header{
    margin: 0px;
    background-color: #a80022;
    height: 130px;
    width: auto;
}

.logo-header{
    height: 130px;
    width: 50%;
    display: inline-block;
    margin: 0px;
    text-align: right;
}

.logo-header img{
    height: 130px;
    width: auto;
    margin: 0px;
}

.texto-header{
    height: 130px;
    width: 50%;
    display: inline-block;
    margin: 0px;
    float: right;
}

.texto-header p{
    display: inline-block;
    margin: 0px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 35px;
    margin-top: 35px;
    border-left: 1px solid #000;
    padding-top: 10px;
    padding-left: 6px;
    padding-bottom: 10px;
}

.parede-de-rosas img{
    margin-top: -10px;
    width: 100%;
    position: absolute;
}

.parede-de-rosas p, h1, h2{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    position: absolute;
    font-size: 25px;
    font-weight: 100;
    margin-left: 25px;
    width: 45%;
    background-color: #89020273;
}

.content{
    position: static;
    width: 50%;
    border-top: 1px solid rgb(255, 255, 255);
}
.content p{
    margin-top: 47px;
}

.content2{
    margin-top: 100px;
}

.content2 h2{
    position: absolute;
}

.content2 p{
    margin-top: 51px;
}